html, body {
  font-family: arial;
  font-size: 1.3rem;
  background-color: #D6D6D6;
  }
h4 {
  text-align: center;
}
.CajaPadre{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.Caja{
  width: 40%;
  background-color: white;
  text-align: center;
}
input{
  background-color: #D6D6D6;
  margin: 10px;
  padding: 10px;
  width: 80%;
  font-size: 20px;
}
.botonAdd{
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}
.MostrarLista{
  text-align: center;
  color: purple;
  font-size: 60px;
}
.botonDelete{
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}